.brand-logo.center{
    font-size: 50pt;
    color: black;
    font-family: 'Barriecito', cursive;

}

.nav-wrapper{
    background-color: white;
    
}

nav ul a{
    color: black;
    
}
.img{
    text-align: center;
}

body{
    background: lightgray;
    
    

}

.btn{
    background-color: black;

}

#eventResult{
    background-color: transparent;
    width: auto;
    height: auto;
    overflow: scroll;
      }

h4{
    font-family:'Gloria Hallelujah', cursive;
    text-decoration: underline wavy black;
    text-shadow: 2px 2px #9e9e9e;    
}
.sr-only{
    color: black;
    font-size: 12pt;
    font-weight: bold;

}

#weatherResult{
    background-color: rgb(219, 219, 219);
    box-shadow: 2px 2px 5px grey;
}

h5{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

p{
    text-align: left;
    text-indent: 5%;
}

.card .card-title{
    font-weight: bolder;
}
.hide {
    display: none;
  }
  h6 {
    font-size: 14px;
}
.fiveDayEl {
    margin: auto;
    width: 90%;
    margin-right: 2%;
    height: 30%;
    padding: 5px;
}

